@import 'variables.less';
@import 'mixins.less';

/*
* Reset
* Generic
* Sections
* - Navigation
* - Header
* - Services
* - Our Team
* - Tech Stack
* - Community
* - Contact
* - Portfolio
* Bootstrap Overrides
*/


// ********************** RESET ************************** //
body{
	webkit-tap-highlight-color: @gray-darker;
}

p, h1, h2, h3{
	cursor: default;
}

span, img, i{
	vertical-align: middle;
}

// -- Highlight Color Customization
::-moz-selection{
	background: @gray-darker;
	color: white;
	text-shadow: none;
}

::selection{
	background: @gray-darker;
	color: white;
	text-shadow: none;
}

img::selection{
	background: transparent;
	color: white;
}

img::-moz-selection{
	background: transparent;
	color: white;
}



// ********************** GENERIC ************************** //
// .call-to-action{
// 	margin: 0 60px;
// 	h2{
// 		margin: 0 auto 20px;
// 	}
// }

.section-heading{
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 0;
	text-transform: uppercase;

	& + hr{
		margin-bottom: 40px;
		margin-top: 15px;
	}
}

.bg-pattern-dark{
	background-image: url('/img/bg-patterns/dark.png');
	background-repeat: repeat;
}

.bg-pattern-light{
	// background-image: url('/img/bg-patterns/light.png');
	// background-repeat: repeat;
	background-color: white;
}



// ********************** SECTIONS ************************** //
// Navigation
#top-nav{
	border: 0;

	// ws title
	.navbar-brand{
		.serif-font;
	}


	@media screen and (min-width : 992px){
		padding: 15px 30px;

		.navbar-brand{
			font-size: 2em;
		}
	}
}

@media screen and (max-width : 767px){
	// navbar
	.navbar-default{
		background-color: rgba(0, 0, 0, 1);
	}
	// navbar links container
	.navbar-default .navbar-collapse{
		border-color: black;
	}
}

// navbar with scroll
.navbar-default.affix{
	background-color: rgba(0, 0, 0, 1);
}

// navbar links
.navbar-default .nav>li>a{
	color: white;
	font-weight: normal;
}

// navbar links with scroll
.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus{
	color: white;
}

// menu button in small screens
.navbar-default .navbar-header .navbar-toggle{
	color: white;
}

// menu button in small screens
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: #111;
}

// Header
header{
	.background-cover;
	background-image: url('/img/header.jpg');
	background-position: center;
	color: white;
	min-height: auto;
	position: relative;
	text-align: center;
	width: 100%;
	.header-content{
		padding: 100px 15px 100px;
		position: relative;
		text-align: center;
		width: 100%;
		.header-content-inner{
			h1{
				font-size: 30px;
				font-weight: 700;
				margin-bottom: 0;
				margin-top: 0;
				text-transform: uppercase;
			}
			hr{
				margin: 30px auto;
			}
			p{
				color: fade(white, 70%);
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 50px;
			}
		}
	}
	@media (min-width: 768px){
		min-height: 100%;
		.header-content{
			padding: 0 50px;
			position: absolute;
			top: 50%;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			.header-content-inner{
				margin-left: auto;
				margin-right: auto;
				max-width: 1000px;
				h1{
					font-size: 50px;
				}
				p{
					font-size: 18px;
					margin-left: auto;
					margin-right: auto;
					max-width: 80%;
				}
			}
		}
	}
}

// Services
.service-box{
	margin: 50px auto;
	max-width: 400px;

	@media (min-width: 992px){
		height: 400px;
		margin: 20px auto 0;
	}

	h3{
		font-weight: bold;
	}

	.text-muted{
		margin-bottom: 0;
		margin-top: 20px;
		padding: 0 10px;
	}
}

#services-1{
	// padding-bottom: 20px;
}

// #services-2{
// 	background-color: white;
// 	padding: 0;
// 	padding-bottom: 60px;
// }

// Our Team
#our-team{
	.section-heading{
		color: white;
	}

	.text{
		color: #ddd;
		padding: 0 20px;
		text-align: justify;
	}
}

// Tech Stack
#tech-stack{
	padding: 20px;

	.icon{
		height: 50px;
		margin: 0 25px;
		max-width: 200px;
	}

	.angular-icon{}

	.node-icon{	}

	.react-icon{}

	.mongo-icon{
		height: 70px;
	}

	.postgresql-icon{}

	.ruby-icon{
		height: 40px;
	}

	.amazon-icon{
		height: 100px;
	}

	.firebase-icon{}

	.bootstrap-icon{}

	.git-icon{
		height: 40px;
		max-width: 160px;
	}

	.elixir-icon{}

	.java-icon{}

	.html5-icon{}

	.img-icon{}
}

// Community
#community{
	.text{
		padding: 0 20px;
	}

	.icons-container{
		margin-top: 40px;
	}

	.icon-item{
		display: inline-block;
		margin: 10px 20px;
	}

	.meetup-icon, .meetup-icon-a{
		color: #ed1c40;
		font-weight: bold;
	}

	.twitter-icon, .twitter-icon-a{
		color: #1da1f2;
		font-weight: bold;
	}
}

// Contact
#contact{}

// Portfolio
.portfolio-box{
	display: block;
	margin: 0 auto;
	max-width: 650px;
	position: relative;
	.portfolio-box-caption{
		.transition-all;
		background: fade(@theme-primary, 90%);
		bottom: 0;
		color: white;
		display: block;
		height: 100%;
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		.portfolio-box-caption-content{
			.project-category;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			.project-name{
				.sans-serif-font;
				padding: 0 15px;
			}
			.project-category{
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
			}
			.project-name{
				font-size: 18px;
			}
		}
	}
	&:hover{
		.portfolio-box-caption{
			opacity: 1;
		}
	}
	&:focus{
		outline: none;
	}
	@media (min-width: 768px){
		.portfolio-box-caption{
			.portfolio-box-caption-content{
				.project-category{
					font-size: 16px;
				}
				.project-name{
					font-size: 22px;
				}
			}
		}
	}
}



// ********************** BOOTSTRAP OVERRIDES ************************** //
.text-primary{
	color: @theme-primary;
}

.no-gutter > [class*='col-']{
	padding-right: 0;
	padding-left: 0;
}

// Button Styles
.btn-default{
	.button-variant(@gray-darker;white;white);
}

.btn-primary{
	.button-variant(white;@theme-primary;@theme-primary);
}

.btn{
	.sans-serif-font;
	border: none;
	border-radius: 300px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-xl{
	padding: 15px 30px;
}