*{
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
	font-family: 'Kotta One', serif;
	font-size: 12px;
	margin: 0;
	overflow-x: auto;
}

h1{
	color: #333333;
	font-family: 'Shojumaru', 'cursive';
	font-size: 34px;
	letter-spacing: -0.04em;
	line-height: 1em;
	margin: 20px 0 0 0;
	text-align: left;
	text-rendering: optimizeLegibility;
}

.subtitle{
	-webkit-font-smoothing: antialiased;
	color: #757575;
	font-size: 21px;
	line-height: 1.4em;
	margin-bottom: 24px;
	margin-top: 24px;
}

/*  animations */
.slideIn{
	animation-name: slideIn;
	-webkit-animation-name: slideIn;

	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideIn{
	0% {
		transform: translateX(100%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}